<div class="h-full w-full">
    <div class="mx-auto max-w-6xl p-6">
        <div class="grid grid-cols-4 lg:grid-cols-[280px_1fr_260px] gap-6">
            <main class="min-w-0 col-span-2">
                <div class="flex items-center justify-between">
                    <button routerLink="/tutorials" class="group text-slate-500 cursor-pointer dark:text-white flex items-center gap-2">
                        <ng-icon name="tablerArrowLeft"></ng-icon>
                        <span class="group-hover:underline">Back to Tutorials</span>
                    </button>
                    <a [href]="'https://github.com/Gamekohl/gem-tools/tree/ft-tutorials/src/assets/tutorials/' + item()?.file" target="_blank" class="group text-slate-500 cursor-pointer dark:text-white flex items-center gap-2">
                        <ng-icon name="tablerBrandGithub"></ng-icon>
                        <span class="group-hover:underline text-sm">Edit on GitHub</span>
                    </a>
                </div>

                <div class="rounded-3xl bg-slate-50 dark:bg-white/5 p-6 mt-4">
                    <div class="flex flex-wrap items-start justify-between gap-4">
                        <div class="min-w-0">
                            <h1 class="text-2xl font-semibold text-slate-900 truncate">
                                {{ item()?.title }}
                            </h1>

                            @if (item()?.subtitle) {
                                <p class="mt-2 text-sm text-slate-600 dark:text-white/50">
                                    {{ item()!.subtitle }}
                                </p>
                            }
                        </div>

                        <div class="flex flex-col justify-between">
                            <div class="flex flex-wrap gap-2">
                                @if (difficulty()) {
                                    <span class="rounded-full dark:bg-white/5 px-3 py-1 text-xs bg-white text-slate-600 dark:text-white/50 shadow-sm">
                                        {{ difficulty() }}
                                  </span>
                                }
                                <span class="rounded-full dark:bg-white/5 px-3 py-1 text-xs bg-white text-slate-600 dark:text-white/50 shadow-sm">
                                ~{{ readTime().minutes }} min
                            </span>
                            </div>

                            <!-- add click to filter by author on /tutorials?author=... -->
                            @if (item()?.author) {
                                <div class="flex justify-end mt-6">
                                    <p class="text-sm text-slate-600 dark:text-white/50">by {{ item()!.author }}</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="mt-6">
                    <article
                        #contentHost
                        class="prose prose-p:leading-8 prose-slate dark:prose-invert max-w-none prose-h2:scroll-mt-24 prose-img:rounded-md prose-img:max-w-full prose-a:text-slate-900 dark:prose-a:text-white prose-a:no-underline prose-a:hover:underline">
                        <div [innerHTML]="tutorialHtml()"></div>
                    </article>
                </div>

                <div class="h-12"></div>
            </main>

            <aside class="hidden lg:block lg:sticky lg:top-6 self-start">
                <div class="rounded-2xl bg-slate-50 dark:bg-white/5 p-4">
                    <div class="text-sm font-semibold text-slate-900 dark:text-white">On this page</div>

                    <div class="mt-4 space-y-1">
                        @if (toc().length) {
                            @for (sec of toc(); track sec.id) {
                                <ng-container *ngTemplateOutlet="sectionButton; context: { section: sec }"></ng-container>

                                @if (sec.children.length) {
                                    @for (child of sec.children; track child.id) {
                                        <ng-container *ngTemplateOutlet="sectionButton; context: { section: child, isChild: true }"></ng-container>
                                    }
                                }
                            }
                        } @else {
                            <div class="text-sm text-slate-500">No sections found (add ## headings)</div>
                        }
                    </div>
                </div>
            </aside>

            <ng-template #sectionButton let-section="section" let-isChild="isChild">
                <button
                        type="button"
                        (click)="scrollToSection(section.id)"
                        class="group w-[calc(100%-16px)] text-left rounded-xl px-3 py-2 text-sm transition hover:bg-white dark:hover:bg-white/5 focus:outline-none focus:ring-2 focus:ring-slate-200"
                        [ngClass]="{
                            'bg-white dark:bg-white/5 font-medium': activeSectionId() === section.id,
                            'ml-4': isChild
                        }">
                    <div class="flex items-center justify-between gap-2">
                        <div class="flex items-center gap-1">
                            <span class="truncate text-slate-800">{{ section.title }}</span>
                            <button (click)="$event.stopImmediatePropagation(); copySectionLink(section.id)" type="button" class="flex items-center opacity-0! group-hover:opacity-100! cursor-pointer transition-opacity">
                                <ng-icon name="tablerLink"></ng-icon>
                            </button>
                        </div>
                        @if (activeSectionId() === section.id) {
                            <span class="text-xs text-slate-500 -mt-0.5">•</span>
                        }
                    </div>
                </button>
            </ng-template>
        </div>
    </div>
</div>
