<div class="container mx-auto flex">
  <a routerLink="/" class="w-56">
    <img src="/assets/gem-tools-logo.png" />
  </a>
  <div class="flex items-center">
    <a routerLink="/search/animations" routerLinkActive="active" class="flex justify-center items-center gap-2 cursor-pointer hover:bg-black hover:bg-opacity-10 p-2 rounded-md">
      <ng-icon name="tablerEyeSearch"></ng-icon>
      <span class="font-semibold">Search animations</span>
    </a>
  </div>
</div>
<div class="w-[960px] mt-8 mx-auto">
  <router-outlet></router-outlet>
</div>