<div class="max-w-[960px] mx-auto flex max-lg:px-4">
  <a routerLink="/" class="w-56">
    <img src="/assets/gem-tools-logo.png" />
  </a>
  <div class="flex justify-between items-center">
    <a routerLink="/search/resources" routerLinkActive="active" class="flex justify-center items-center gap-2 cursor-pointer hover:bg-black/5 p-2 rounded-md">
      <ng-icon name="tablerBox"></ng-icon>
      <span>Resources</span>
    </a>
    <a routerLink="/search/animations" routerLinkActive="active" class="flex justify-center items-center gap-2 cursor-pointer hover:bg-black/5 p-2 rounded-md">
      <ng-icon name="tablerArrowsRandom"></ng-icon>
      <span>Animations</span>
    </a>
    <a disabled class="flex justify-center items-center gap-2 cursor-pointer text-black/25 p-2 rounded-md">
      <ng-icon name="tablerPhotoEdit"></ng-icon>
      <span class="!text-black/25">Editor</span>
    </a>
  </div>
  <div class="flex-1"></div>
  <div class="flex justify-center items-center gap-1">
    <span class="text-sm">created by Gamekohl</span>
    <a title="GitHub" href="https://github.com/Gamekohl" target="_blank" class="border border-slate-200 flex justify-center items-center rounded-md p-2 bg-[#181818] hover:bg-[#202020] text-white">
      <ng-icon name="tablerBrandGithub"></ng-icon>
    </a>
    <a title="BuyMeACoffee" href="https://buymeacoffee.com/gamekohl" target="_blank" class="border border-slate-200 flex justify-center items-center rounded-md p-2 bg-[#fd0] hover:bg-[#dbbe00]">
      <ng-icon name="tablerCoffee"></ng-icon>
    </a>
  </div>
</div>
<div class="max-w-[960px] mt-8 mx-auto max-lg:px-4">
  <router-outlet></router-outlet>
</div>
