.highlight {
    background-color: yellow;
    font-weight: bold;
}

:host {
    --mat-form-field-outlined-outline-color: var(--color-slate-200);
    --mat-form-field-outlined-focus-outline-color: var(--color-slate-800);
    --mat-form-field-outlined-focus-label-text-color: var(--color-slate-800) !important;
}