@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --text-color: #181818;
  --bg-color: #fff;

  background-color: var(--mat-sidenav-content-background-color);

  a, span, h1 {
    color: var(--text-color);
  }
}

html.dark {
  --text-color: #e0e0e0;
  --bg-color: #181818;
  --ng-icon__color: #e0e0e0;

  // Material colors
  --mat-tree-container-background-color: #181818;
  --mat-paginator-container-background-color: rgba(255, 255, 255, 0.05);
  --mat-paginator-container-text-color: var(--text-color);
  --mat-paginator-enabled-icon-color: rgb(255, 255, 255);
  --mat-paginator-disabled-icon-color: rgba(255, 255, 255, 0.25);
  --mat-sidenav-content-background-color: #181818;
  --mat-sidenav-container-background-color: #181818;
}