@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-black: #181818;
}

.input {
    @apply rounded-xl border bg-white dark:bg-black border-slate-200 px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-slate-300 dark:border-white/25 dark:placeholder:text-white/50 dark:text-white dark:focus:ring-white/5;
}