name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - develop
      - main

jobs:
  check-conventions:
    name: Check Naming Conventions
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          requireScope: false

  check-specs:
    name: Validate Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Check for .spec files
        run: npm run check:specs

  test:
    name: Run Tests (with coverage)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: check-specs

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Run Jest tests with coverage
        run: npm run test:coverage

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: coverage
          if-no-files-found: error
  e2e:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: check-specs
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [ 1, 2, 3, 4 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run E2E
        run: npm run e2e -- --shard=${{ matrix.shardIndex }}/4

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report-shard-${{ matrix.shardIndex }}
          path: |
            playwright-report
            test-results
          if-no-files-found: ignore